@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h3 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
  margin-bottom: 35px;
}
input {
  border: none;
  padding: 6px;
  border-radius: 25px;
}
input::placeholder {
  color: rgb(76, 76, 120);
}
button {
  border: none;
  padding: 6px;
  border-radius: 25px;
  margin-left: 5px;
  background-color: white;
  color: rgb(76, 76, 120);
  cursor: pointer;
}

button:hover {
  border: none;
  background-color: rgb(76, 76, 120);
  color: white;
}

@media screen and (max-width: 900px) {
  .weather-container {
    width: 50%;
    height: 70vh;
  }

  input {
    height: 2rem;
  }

  button {
    height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .weather-container {
    width: 100%;
    height: 93vh;
    margin: 0 auto;
  }
}
